<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"        
    xmlns:mvc="http://www.springframework.org/schema/mvc"     
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"              
    xsi:schemaLocation="                                               
            http://www.springframework.org/schema/beans    
            http://www.springframework.org/schema/beans/spring-beans.xsd    
            http://www.springframework.org/schema/context     
            http://www.springframework.org/schema/context/spring-context.xsd    
            http://www.springframework.org/schema/mvc    
            http://www.springframework.org/schema/mvc/spring-mvc.xsd  
            http://www.springframework.org/schema/tx   
            http://www.springframework.org/schema/tx/spring-tx.xsd  
            http://www.springframework.org/schema/aop  
            http://www.springframework.org/schema/aop/spring-aop.xsd ">

	<!-- =================================数据库================================= -->
	<!-- 数据库相关参数的配置文件 -->
    <context:property-placeholder location="classpath:resource/*.properties"/>
    <!-- 数据库连接池 destroy-method="close" -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<!--配置连接池属性-->
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        
        <!--druid连接池的私有属性-->  
        <property name="maxActive" value="10"/>
        <property name="minIdle" value="5"/>
	</bean>
	
	<!-- =================================spring-mybatis================================= -->

	<!-- spring-mybatis -->
	<!-- 注册sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!--配置mybatis全局配置文件-->
        <property name="configLocation" value="classpath:mybatis/mybatis.xml"/>
        <!--注入数据库连接池-->
        <property name="dataSource" ref="dataSource"/>
	</bean>
    
    <!-- 生成Dao的代理对象 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
        <!--注入sqlSessionFactory-->  
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>  
        <!--给出需要扫描dao接口包-->  
        <property name="basePackage" value="com.ivan.ssm.mapper"/>
    </bean>
</beans>